/* --- RESETS --- */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #684BB1;
    color: white;
}

header,
main,
footer {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

/* --- TYPOGRAPHY --- */
.title {
   font-size: 1.6rem;
   font-family: 'Poppins', sans-serif;
   color: white;
   font-weight: 500;
}

.text {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* --- HERO --- */
header {
    margin-top: 2em;
}

.hero-logo {
    max-width: 120px;
}

.hero-img {
    position: absolute;
    max-width: 300px;
    left: 45px;
    top: 120px;
}

/* --- HERO BACKGROUND SHAPES --- */
.hero-background {
    position: absolute;
}

.stripe-right {
    top: -30px;
}

.stripe-left {
    top: 80px;
    left: -30px;
}

.diamond-top {
    max-width: 20px;
    left: 130px;
    top: 80px;
}

.diamond-right {
    right: 30px;
    top: 160px;
}

/* --- MAIN SECTION --- */
main {
    margin-top: 20em;
    text-align: center;
    line-height: 1.6;
}
