/* --- RESETS --- */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #684BB1;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
}

header,
main,
footer {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

/* --- TYPOGRAPHY --- */
.title {
   font-size: 1.6rem;
   font-family: 'Poppins', sans-serif;
   color: white;
   font-weight: 500;
}

.text {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* --- HERO --- */
header {
    margin-top: 2em;
}

.hero-logo {
    max-width: 120px;
}

.hero-img {
    position: absolute;
    max-width: 300px;
    left: 45px;
    top: 120px;
}

/* --- HERO BACKGROUND SHAPES --- */
.hero-background {
    position: absolute;
}

.stripe-right {
    top: -30px;
}

.stripe-left {
    top: 80px;
    left: -30px;
}

.diamond-1 {
    max-width: 20px;
    left: 130px;
    top: 80px;
}

.diamond-2 {
    right: 30px;
    top: 160px;
}

.diamond-3 {
    width: 50px;
    left: 40px;
    top: 255px;
}

.diamond-4 {
    max-width: 25px;
    left: 160px;
    top: 325px;
}

.diamond-5 {
    max-width: 25px;
    left: 320px;
    top: 325px;
}

.diamond-6 {
    max-width: 15px;
    left: 120px;
    top: 355px;
}

/* --- MAIN SECTION --- */
main {
    margin-top: 21em;
    text-align: center;
    line-height: 1.6;
}

.btn {
    margin-top: 1em;
    font-size: 1.125rem;
    font-weight: 400;
    color: #684BB1;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: .5em 4em;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* --- FOOTER --- */
footer {
    margin-top: 4em;
    text-align: center;
}

.footer-link {
    margin-right: .5em;
    cursor: pointer;
}
